<tr class="align-middle">
    <td><%= user.fname %></td>
    <td><%= user.lname %></td>
    <td><%= user.email %></td>
    <td>4:56 am 01/01/2000</td>
    <td>
        <a class="me-1" href="./edit-user.html"><button class="btn btn-success rounded-1">Edit</button></a>
        <button class="btn btn-danger rounded-1">Delete</button>
    </td>
</tr>