<div class="d-flex flex-row">
    <%= render "navbar" %>
    <div class="bg-white mt-3 pt-3 w-75 container justify-content-center">
        <profile-header page="photo"></profile-header>
        <a href="./new-photo.html"><button class="btn btn-success rounded-pill fw-bold py-1 float-end">Add Photo</button></a>
        <div class="post-container row d-flex mt-5">
            <profile-media self="true" private="true" class="col-6 col-md-4 col-lg-3"></profile-media>
        </div>
    </div>
</div>