<div class="rounded-circle avatar my-auto d-flex justify-content-center align-items-center <%= local_assigns[:classname] ? local_assigns[:classname] : "avatar-sm" %>">
    <%= fname[0] + lname[0] %>
</div>