<div>
    <div class="d-flex flex-row align-items-center justify-content-between">
        <h6 class="fw-bold fs-5"><%= local_assigns[:title] %></h6>
        <button onclick="history.back()" class="btn rounded-1 back-btn">Back</button>
    </div>
    <div class="border border-1 mt-2"></div>
</div>