<div>
    <input type="checkbox" class="btn-check follow-input" id="follow-<%= user.id %>" autocomplete="off" <%= follow ? "checked" : "" %>>
    <label id="follow-button" class="btn follow-label rounded-pill p-1" for="follow-<%= user.id %>"><%= follow ? "following" : "follow" %></label>
</div>