<div class="modal fade" tabindex="-1" aria-hidden="true" id="photo-content">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="photo-title" class="m-0"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img alt="Post content" id="photo-image" class="w-100 mb-3">
                <p id="photo-description"></p>
            </div>
        </div>
    </div>
</div>