:root {
    --primary: #3C5999;
    --background: #F9F9F9;
}

header {
    background-color: var(--primary);
    color: white;
}

h1 {
    color: var(--primary);
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--primary);
}

.icon {
    cursor: pointer;
}

.avatar {
    width: 15%;
    height: 15%;
}

.login-form {
    background-color: var(--background);
}

.authorize-button {
    background-color: var(--primary);
    color: white;
    font-weight: 500;
}